@use '../../styles' as *;

.home {
  display: flex;
  flex-direction: column;
  align-items: center;

  .metrics {
    padding: 4rem 0;
    @media screen and (min-width: 786px) {
      padding: 7rem 0;
    }
    @media screen and (min-width: 1000px) {
      flex-direction: row;
      align-items: flex-start;
      box-sizing: border-box;
      gap: 3.3%;

      .tagline {
        margin: 0;
        font-size: 3.4rem;
      }

      .subheader {
        margin-top: 12px;
        font-size: 1.6rem;
      }
    }
  }
  
  .secondSection {
    background: rgba($color-primitive-sunflower, 0.3);
  }

  .thirdSection {
    background: rgba($color-primitive-sunflower, 0.5);
  }
}
