.progressContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -10px;

  .progress {
    appearance: none;
    height: 20px;
    border-radius: 100px;
    margin: 0 10px;
    flex-grow: 1;

    /* Chrome and Safari */
    &::-webkit-progress-bar {
      background: #17224f;
      border-radius: 100px;
    }

    &::-webkit-progress-value {
      background-color: #ffcb30;
      border-top-left-radius: 100px;
      border-bottom-left-radius: 100px;
    }

    /* Firefox */
    &::-moz-progress-bar {
      background-color: #ffcb30;
      border-top-left-radius: 100px;
      border-bottom-left-radius: 100px;
    }
  }
}

.complete {
  color: #badf16;
}

.dateContainer {
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: center;
  margin-top: -25px;
}

.todayHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -25px;
}

.dailyStatus {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  align-items: flex-end;
}

.date {
  color: #accae0;
  margin-top: -79px;
  margin-left: -27px;
  font-size: 0.9em;
}

.bank {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.todayCard {
  width: 87vw;
  max-width: 900px;
  padding: 10px 30px 30px 30px;
  border-radius: 6px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    30deg,
    rgba(0, 11, 59, 1) 0%,
    rgba(29, 26, 77, 1) 24%,
    rgba(86, 54, 113, 1) 61%,
    rgba(115, 73, 102, 1) 74%,
    rgba(173, 112, 79, 1) 100%,
    rgba(228, 148, 58, 1) 100%,
    rgba(255, 166, 48, 1) 100%
  );
}
