.progress {
  appearance: none;
  height: 20px;
  border-radius: 100px;
  margin: 0 10px;

  /* Chrome and Safari */
  &::-webkit-progress-bar {
    background: #17224F;
    border-radius: 100px;
  }

  &::-webkit-progress-value {
    background-color: #badf16;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
  }

  /* Firefox */
  &::-moz-progress-bar {
    background-color: #badf16;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
  }
}

.complete {
    color: #badf16;
}